<h1 class="page-header">Exceptions</h1>

<div ng-controller="ExceptionsController">    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ex in exceptions">
                <td>{{ex}}</td>
            </tr>
        </tbody>
    </table>
</div>
