@{
    ViewBag.Title = "Applications";
}

<h2>Applications</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
        <td></td>
        <th></th>
    </tbody>
</table>