<a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-cog" title="Settings"></i>
</a>

<div data-toggle="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <img width="23" height="23" alt="" src="assets/images/avatar.jpg">
        <span class="user-name"></span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="user_profile.html">
                <i class="icon-user"></i>
                Profile
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="sign_in.html">
                <i class="icon-signout"></i>
                Sign out
            </a>
        </li>
    </ul>
</div>