<div data-toggle="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
    <ul class="dropdown-menu">
        <li><a href="/Applications/">New Application +</a></li>
        <li><a href="">App 1</a></li>
        <li><a href="">App 2</a></li>
    </ul>
</div>

<ul>
    <li><a href="">Exceptions</a></li>
    <li><a href="">Users</a></li>
    <li><a href=""></a></li>
</ul>