@*<div data-toggle="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
    <ul class="dropdown-menu">
        <li><a href="/Applications/">New Application +</a></li>
        <li><a href="">App 1</a></li>
        <li><a href="">App 2</a></li>
    </ul>
</div>

<ul>
    <li><a href="">Exceptions</a></li>
    <li><a href="">Users</a></li>
    <li><a href=""></a></li>
</ul>*@



<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Overview</a></li>
        <li><a href="/applications/">Applications</a></li>
        <li><a href="#"></a></li>
        <li><a href="/users/">Users</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
    </ul>
</div>
